.arrow-up {
    @extend .invert;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid $primary-color;
}

.arrow-down {
    @extend .invert;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid $primary-color;
}

.arrow-right {
    @extend .invert;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid $primary-color;
}

.arrow-left {
    @extend .invert;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right:10px solid $primary-color; 
}

.arrow-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 22px
}
.arrow-left-o::after,
.arrow-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 4px
}
.arrow-left-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 6px
}
.arrow-left-o::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor
}

.prev {
    @extend .invert;
    margin: 4vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-left: 8vw;
    transform: scale(150%);
    position: relative;
    border-color: $background-color;
    box-sizing: border-box;
    position: relative;
    display: block;
    // transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.prev::after,
.prev::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px
}
.prev::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}
.prev::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}


.next{
    @extend .prev;
    transform: rotate(180deg) scale(150%);
    float: right;
    margin: 3vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-right: 8vw;
}