$alert-color: rgb(18, 40, 46);
$primary-color: rgb(18, 40, 46);
$background-color: rgb(18, 40, 46);
$easing: cubic-bezier(.3,0,0,1);
$headerFont: 'Krona One', sans-serif;
$bodyFont: 'Roboto', sans-serif;

@import "normalize";
@import "navbar";
@import "dark";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&&family=Roboto:wght@400;600&display=swap');


html{
    background-color: $background-color;
    transition: filter 0.5s $easing;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
body{
    font-family: $bodyFont;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-weight: 400;
}

a:hover{
    font-weight: 600;
}

h1,h2,h3,h4,h5,h6{
    font-family: $headerFont;
    color: $background-color;
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: difference;
}


a,p{
    font-family: 'Roboto', sans-serif;
    color: $background-color;
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: difference;
}

.follower {
    @extend .invert;
    opacity: 30%;
    width: 20px;
    height: 20px;
    background-color: $background-color;
    border-radius: 1000px;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    position: fixed;
    transform: translate(-50%, -50%);
}

.container{
    height: 100vh;
    overflow: scroll;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform .3s ease;
    &::-webkit-scrollbar {
        display: none;
    }
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.h1{
    -webkit-text-stroke: 1px $background-color;
    color: transparent;
    text-shadow: 0px 0px 0px $background-color;
    transition: text-shadow .3s ease;
}

.hero{
    text-align: center;
    font-size: 2rem;
}