$alert-color: rgb(18, 40, 46);
$primary-color: rgb(18, 40, 46);
$background-color: rgb(18, 40, 46);
$easing: cubic-bezier(.3,0,0,1);
$headerFont: 'Krona One', sans-serif;
$bodyFont: 'Roboto', sans-serif;

@import "normalize";
@import "navbar";
@import "dark";
@import "card";
@import "icons";
@import "project";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&&family=Roboto:wght@400;900&display=swap');

@keyframes text-clip {
    0% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      }
    99% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 -700%, 100% -700%, 100% 700%, 0 700%);
      }
  }

  @keyframes bg-animation {
    0% { background-position: 0,0 }
    10% { background-position: -5% -5% }
    20% { background-position: -10% 5% }
    30% { background-position: 5% -10% }
    40% { background-position: -5% 15% }
    50% { background-position: -10% 5% }
    60% { background-position: 15% 0 }
    70% { background-position: 0 10% }
    80% { background-position: -15% 0 }
    90% { background-position: 10% 5% }
    100% { background-position: 5% 0 }
}  

@keyframes fullrotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }

  @keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
  }
  
  @keyframes movex {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
  }

  @keyframes scroll-ani {
    0% {
        transform: rotateX(-60deg) scale(.5,.5) translateY(0px);
        opacity: 0%;
    }
    70% {
        transform: rotateX(0) scale(1,1) translateY(20px);
        opacity: 50%;
    }
    100% {
        transform: rotateX(60deg) scale(.5,.5) translateY(100px);
        opacity: 0%;
    }
  }

@keyframes gyan {
    0%{
        content: "Designing world a better place, Please wait...";
    }
    15%{
        content: "Adding some more pop to the design!";
    }
    25%{
        content: "Making black more darker...";
    }
    35%{
        content: "Reverting back changes cause first one was better";
    }
    60%{
        content: "Wow thats is taking really long!";
    }
    75%{
        content: "Its still baking, I like crispy crust.";
    }
    90%{
        content: "Great to know you! Thank you for waiting this long";
    }
    100%{
        content: "Reverting back changes cause first one was better";
    }
}

@media screen and (max-width: 1080px) {
    .follower{
        display: none !important
    }
    .follower_border{
        display: none
    }
    .hero>img{
        position: absolute !important;
        width: 60vh !important;
        left: auto !important;
        bottom: auto !important;
    }
    section {
        flex-direction: column !important;
        align-items: unset !important;
    }
}

html{
    background: $background-color url('../img/noise-transparent.png') repeat 0 0;
    cursor: none;
    animation: bg-animation .2s infinite;
    visibility: visible;
    transition: filter 0.5s $easing;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
} 

body{
    font-family: $bodyFont;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-weight: 400;
}

b{
    font-weight: 900;
}

a:hover{
    font-weight: 900;
}

h1,h2,h3,h4,h5,h6{
    font-family: $headerFont;
    color: $background-color;
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: difference;
}


a,p{
    font-family: 'Roboto', sans-serif;
    color: $background-color;
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: difference;
}

.hidden{
    display: none;
}

#preloader{
    @extend .invert;
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: movex 500ms linear 0ms infinite;
    margin-right: 30px;

    &:first-child{
        position: absolute;
        top:0;
        left:0;
        animation: grow 500ms linear 0ms infinite;
    }

    &:last-child{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
        animation: grow 500ms linear 0s infinite reverse;
    }
    }
    .circle-container{
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;

}
  


.follower {
    @extend .invert;
    opacity: 50%;
    width: 20px;
    z-index: 100;
    pointer-events:none; 
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $background-color;
    background-color: $background-color;
    border-radius: 1000px;
    transition: width 200ms ease-out, height 200ms ease-out;
    position: fixed;
    transform: translate(-50%, -50%);
}
.follower_border{
    @extend .invert;
    opacity: 30%;
    width: 50px;
    height: 50px;
    border: 1px solid $background-color;
    border-radius: 1000px;
    transition: all 200ms ease-out;
    position: fixed;
    transform: translate(-50%, -50%);
}

.container{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    // scrollbar-width: none;
    transition: transform .3s linear;
    will-change: transform;
    &::-webkit-scrollbar {
        display: none;
    }
}
section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    scroll-snap-align: start;
    position: relative;
}


.h1{
    -webkit-text-stroke: 1px $background-color;
    color: transparent;
    text-shadow: 0px 0px 0px $background-color;
    transition: text-shadow .3s ease;
}

.text-clip{
    animation: text-clip 2s 700ms $easing both;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: calc(2vw + .6rem);
    &> p{
        margin: 0;
        font-size: 1.5rem;
    }
    &> h1{
        margin: 0;
    }
    &>img{
        position: absolute;
        width: 200px;
        left: 58vw;
        bottom: 38%;
        opacity: 30%;
        animation: fullrotate 20000ms linear infinite;
    }
}


.cls-1,.cls-2{
    @extend .invert;
    fill: $background-color;
}

.sidebar{
    position: fixed;
    right: 0px;
    cursor: pointer;
    transform: translate(0,-60%);
    margin: 20px;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >.sidebar_child{
        @extend .invert;
        width: 1px;
        margin-top: 5px;
        transition: width 500ms $easing;
        background-color: $background-color;
        &::after{
            content: ' ';
            position: absolute;
            transform: translate(-50%,0);
            width: 30px;
            height: inherit;
        }
        &:hover{
            width: 6px;
            // outline: 2px solid $background-color;
        }
    }
}

.bufferd_bar{
    width: 8px !important;
    &:hover{
        width: 12px !important;
    }
}

.sidebar-container{
    display: flex;
    width: 40px;
}

.section-footer{
    text-align: center;
    color: $primary-color;
    position: absolute;
    font-size: 1rem;
    bottom: 0px;
    margin-bottom: 8vh;
    .scroll{
        display: flex;
        height: 80px;
        width: 80px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: none;
        .arrow-down{
            margin-bottom: 10px;
            opacity: 0;
            position: absolute;
            top: 0px;
            &:first-child{
                animation: scroll-ani 4s $easing 0s infinite;
            }
            &:last-child{
                animation: scroll-ani 4s $easing 2s infinite;
            }
        }
    }
}

@for $i from 1 through 2 {
    .scroll> .arrow-down:nth-child(#{$i}n) {
        animation-delay: #{$i * 2}s;
    }
}

.gyan::after{
    content: "Designing the world a better place. Please wait...";
    margin-bottom: 5vh;
    animation: gyan 20000ms linear infinite;
}

.about{
    text-align: center;
    padding: 10vw 30vw 10vw 30vw;
    font-size: 2rem;
}

@media screen and (max-width: 1080px) {
    .about{
        padding: 5vw;
    }
}