.f-item{
    z-index: 88;
    display: flex;
    align-items:center;
    position: fixed;
    padding: 20px;
    color: $background-color;
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: difference;
    > div{
        margin: 10px;
    }
}

.item{
    font-family: $headerFont;
}

.left{
    left: 0px; 
}
.right{
    right:0px;
}
.top{
    top:0px;
}
.bottom{
    bottom: 0px;
}

#dark{
    width: 25px;
    cursor: pointer;
    height: 25px;
    border-radius: 100px;
    box-shadow: inset 5px -5px 0 1px  $background-color;
    mix-blend-mode: difference;
    transition: all 0.5s $easing;
    &::after{
        content: ' ';
        width: 70px;
        height: 70px;
        display: block;
        transform: translate(-30%,-30%);
    }
}
.darkicon{
    box-shadow: inset 20px -20px 0 2px  $background-color !important;
    &::before{
        content: "☼";
        animation: fullrotate 30000ms linear infinite;
        font-size: 2.7rem;
        position: absolute;
        top: 13%;
        right: 24%;
        margin-top: 5px;
        margin-right: 2.5px;
    }
}


@media screen and (min-width: 1080px){
    #dark:hover{
        box-shadow: inset 20px -20px 0 2px  $background-color;
    }
    .darkicon:hover{
        box-shadow: inset 5px -5px 0 1px  $background-color !important;
    }
}


li.social{
    list-style-type: none;
}

.social{
    width: 30px;
    margin-bottom: -7px;
    color: $background-color;
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: difference;
    opacity: 1;
    transition: opacity 0.5s $easing;
    &:hover{
        opacity: .5;
    }
}