@import "normalize";

body{
    scroll-behavior: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.wrapper{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    &>div{
        position: absolute;
    }
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.p1, .p2, .p3, .p4{
    transition: filter 1000ms ease-out;
}

.top{
    padding: 20px;
    border-radius: 3px;
    display: block;
    background-color: white;
    left: 45%;
    top: 75%;
    opacity: 0%;
    transition: opacity 300ms ease-out;
}

.box{
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    opacity: 0%;
    transition: opacity 300ms ease-out;
}

.box2{
    left: 45%;
    top: 120%;
}

.show{
    opacity: 100%;
}

.blur{
    filter: blur(15px);
}

.hide{
    filter: blur(7px);
    opacity: 30%;
}